<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.clearfix {
  display: flex;
  width: 100%;
}

.img-container {
  width: 70%;
  padding: 0px;
}

.img-overlay {
  width: 30%;
  padding: 0px;
}

</style>
</head>
<body>
<div class="clearfix">
  <div class="img-container" align="center">
    <img src="http://10.42.1.12:5809/stream.mjpg?compression=50" object-fit="contain">
  </div>
  <div class="img-overlay" align="center">
    <img src="http://10.42.1.12:5808/stream.mjpg?compression=30" object-fit="contain">
    <img src="http://10.42.1.11:5800" object-fit="contain">
  </div>
</div>
</body>
</html>