<!DOCTYPE html>
<html>
<head>
<script>
let refresh = function() {
    let imgs = document.getElementsByTagName( 'img');

    for ( let i = 0; i < imgs.length; i++) {
        let src = imgs.item(i).getAttribute('data-src');
        src += '&t=' + Date.now();
        // looks like https://example:8084/?action=snapshot&t=19999999
        imgs.item(i).setAttribute('src', src);

    };

}

window.setInterval( refresh, 5000);
</script>
<style>
* {
  box-sizing: border-box;
}

.clearfix {
  display: flex;
  width: 100%;
}

.img-container {
  width: 70%;
  padding: 0px;
}

.img-overlay {
  width: 30%;
  padding: 0px;
}

</style>
</head>
<body>
<div class="clearfix">
  <div class="img-container" align="center">
        <img src="{{ url_for('video_feed', feed_type='camera', device=1) }}" class="center"  style="border:1px solid black;width:100%" alt="Intake Feed">
  </div>
  <div class="img-overlay" align="center">
        <img src="{{ url_for('video_feed', feed_type='camera', device=0) }}" class="center"  style="border:1px solid black;width:100%" alt="Outtake Feed">
  </div>
</div>

</body>
</html>