imutils==0.5.4
concurrent-log-handler==0.9.19
opencv-python==4.5.5.62
blobconverter==1.2.8
pynetworktables==2021.0.0
numpy==1.21.5
depthai==2.14.1.0
Pillow==9.0.0
scipy~=1.7.1
PyTurboJPEG==1.6.5

imagezmq~=1.1.1
Werkzeug~=2.0.2